# https://datadryad.org/api#?route=overview--api-accounts
DRYAD_CLIENT_ID=
DRYAD_SECRET=

# https://archive.org/developers/tutorial-get-ia-credentials.html
INTERNET_ARCHIVE_ACCESS_KEY=
INTERNET_ARCHIVE_SECRET_KEY=
