# https://motherduck.com/blog/duckdb-tutorial-for-beginners/#data-persistence-with-duckdb-creating-a-database
*.db
*.ddb
*.duckdb

# created by SQLTools?
*.wal

.mypy_cache/
.python-version
__pycache__
data/
data_cache/

.coverage
.env

# Quarto site (analysis/_quarto.yml)
analysis/_site/
# intermediate files, moved into _site/ once rendering finishes
analysis/site_libs/
analysis/*_files/
analysis/*.html

# extension/
node_modules/
dist/
