{
	admin off
}

:8080 {
	@https header X-Upstream-Scheme https
	handle @https {
		reverse_proxy {http.request.header.X-Upstream} {
			transport http {
				tls
				tls_server_name {http.request.header.X-Upstream-Host}
			}

			header_up Host {http.request.header.X-Upstream-Host}

			@not_found status 404
			handle_response @not_found {
				respond "Sorry, this page could not be found. -proxy" 404
			}
		}
	}

	handle {
		reverse_proxy {http.request.header.X-Upstream} {
			header_up Host {http.request.header.X-Upstream-Host}

			@not_found status 404
			handle_response @not_found {
				respond "Sorry, this page could not be found. -proxy" 404
			}
		}
	}

	handle_errors {
		@unavailable expression {http.error.status_code} == 502
		respond @unavailable "Sorry, the upstream server could not be reached. -proxy" 502

		respond "An unexpected proxy error occurred. -proxy" 500
	}
}
